<div id="filterrific_results">

  <h1>
    <%=  page_entries_info @clinics %>
  </h1>

  <div class="row">
    <% count = 1 %>
    <% @clinics.each do |clinic| %>
      <div class="col-sm-6 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2 class="panel-title"><%= link_to(clinic.name, clinic_path(clinic), { :class=>"" }) %></h2>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <span class="card-info-description">Phone number</span>
                <span class="card-info-value"><%= clinic.phone_number %></span>
              </li>
              <li>
                <span class="card-info-description">Email</span>
                <span class="card-info-value"><%= clinic.email %></span>
              </li>
              <li>
                <span class="card-info-description">Website</span>
                <span class="card-info-value"><%= clinic.website %></span>
              </li>
              <li>
                <span class="card-info-description">State</span>
                <span class="card-info-value"><%= clinic.state %></span>
              </li>
              <li>
                <span class="card-info-description">Municipality</span>
                <span class="card-info-value"><%= clinic.municipality %></span>
              </li>
            </ul>
            <div class="row">
              <div class="col-sm-4">
                <%= link_to clinic, { :class=>"btn btn-raised btn-success" } do %>
                  View <div class="ripple-container"></div>
                <% end %>
              </div>
              <div class="col-sm-4">
                <%= link_to edit_clinic_path(clinic), { :class=>"btn btn-raised btn-info" } do %>
                  Edit <div class="ripple-container"></div>
                <% end %>
              </div>
              <div class="col-sm-4">
                <%= link_to clinic, { :class=>"btn btn-raised btn-danger" }, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                  Destroy <div class="ripple-container"></div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if count % 2 == 0 %>
        <div class="clearfix hidden-xs"></div>
      <% end %>
      <% count = count + 1 %>
    <% end %>
  </div>
</div>
<%=  will_paginate @clinics %>