<h1><%= I18n.t('.confirm.header')%><%= @clinic.name %>?</h1>

<%= form_tag("/clinics/#{@clinic.id}", method: "delete") do%>
    
    <%= submit_tag(I18n.t('.confirm.tag')) %>

<% end %>

<!-- <%= button_to I18n.t('.confirm.cancel'), "/clinics/#{@clinic.id}", method: "get" %> -->
<%= link_to I18n.t('.confirm.cancel'), "/clinics/#{@clinic.id}/edit" %>
