<h1>Are you sure you want to delete <%= @clinic.name %>?</h1>

<%= form_tag("/clinics/#{@clinic.id}", method: "delete") do%>
    
    <%= submit_tag("Confirm Deletion") %>

<% end %>

<!-- <%= button_to "Cancel", "/clinics/#{@clinic.id}", method: "get" %> -->
<%= link_to "Cancel", "/clinics/#{@clinic.id}/edit" %>
