<p><%= flash[:warning] %>

<div class="container-actions">
	<div class="row">
		<div class="col-sm-1">
			<div class="btn-group-sm">
				<%= link_to clinics_path, { :class=>"btn btn-primary btn-fab" } do %>
	              <i class="material-icons">arrow_back</i><div class="ripple-container"></div>
	            <% end %>
			</div>
		</div>
		<div class="col-sm-2 col-sm-offset-9">
			<%= link_to 'Show', @clinic, { :class=>"btn btn-warning" } %>
		</div>
	</div>
</div>

<div class="well">
	<legend>Editing Clinic: <%= @clinic.name %></legend>
	<%= render 'form' %>

	<%= form_tag("/clinics/confirm/#{@clinic.id}", method: "get") do %>
	    <%= submit_tag "Delete Clinic", class: "btn btn-danger" %>
	<% end %>

	<%= link_to 'Show', @clinic %> |
	<%= link_to 'Back', clinics_path %>
</div>
