<div class="container-actions">
	<div class="btn-group-sm left-button back-button">
		<%= link_to clinics_path, { :class=>"btn btn-primary btn-fab" } do %>
          <i class="material-icons">arrow_back</i><div class="ripple-container"></div>
        <% end %>
	</div>
	<div class="right-button">
		<%= link_to 'View', @clinic, { :class=>"btn btn-success" } %>
	</div>
</div>

<div class="well clinic-card edit-mode">
  <div class="panel-body left-info-container">
    <h1>Editing: <%= @clinic.name %></h1>
    <p class="error-message"><%= flash[:warning] %></p> <!-- For showing errors -->
    <%= render 'form' %>

    <%= form_tag("/clinics/confirm/#{@clinic.id}", method: "get") do %>
	    <%= submit_tag "Delete Clinic", class: "btn btn-danger" %>
	<% end %>
  </div>
  <figure id="map" class="right-info-container map-container"></figure>
</div>

<script>
 $("#map").geolocateMap({
      markers: 
        [ 
          {"lat":"<%= @clinic.latitude  %> ", "lng":"<%= @clinic.longitude  %>" }
      ],
      google_maps: {
        zoom: 20
      },
      markers_settings: {
        draggable: false,
        animation: google.maps.Animation.DROP
      }
    })

</script>
