<p id="notice"><%= notice %></p>

<h1>Listing Clinics</h1>
<%= form_for_filterrific @filterrific do |f| %>
  <div class="jumbotron row">
  <div >
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div >
    State
    <%= f.select(
      :by_state,
      @filterrific.select_options[:by_state],
      { include_blank: '- Any -' },
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div >
    Municipality
    <%= f.select(
      :by_municipality,
      @filterrific.select_options[:by_municipality],
      { include_blank: '- Any -' },
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div >
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  </div>
<% end %>

<%= render(
  partial: 'clinics/list',
  locals: { clinics: @clinics }
) %>


<br>

<%= link_to 'New Clinic', new_clinic_path %>
