<p id="notice"><%= notice %></p>

<h1><%= I18n.t('.index.header')%></h1>
 <%= form_for_filterrific @filterrific do |f| %>
  <div class="container-fluid">
    <div class="jumbotron row clinics-search">
      <div class="form-group">
        <%= I18n.t('.index.search')%>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed',
          class: "form-control col-lg-8", id: "search_field"
        ) %>
      </div>
      <div class="form-group">
        <%= I18n.t('.index.state')%>
        <%= f.select(
          :by_state,
          @filterrific.select_options[:by_state],
          { include_blank: '- Any -' },
          class: 'filterrific-periodically-observed',
          class: "form-control"
        ) %>
      </div>
      <div class="form-group">
        <%= I18n.t('.index.muni')%>
        <%= f.select(
          :by_municipality,
          @filterrific.select_options[:by_municipality],
          { include_blank: '- Any -' },
          class: 'filterrific-periodically-observed',
          class: "form-control"
        ) %>
      </div>
      <div >
        <%= link_to reset_filterrific_url, { :class=>"btn btn-warning" } do %>
          <%= I18n.t('.index.reset')%> <div class="ripple-container"></div>
        <% end -%>

        <!-- this button is just to improve the UX, simulates the search that is made with ajax-->
        <button class="btn btn-success" id="search_button"><%= I18n.t('.index.search')%><div class="ripple-container"></div></button>
      </div>
    </div>
  </div>
<%= render_filterrific_spinner %>
<% end %>
<% if current_user %>
<%= link_to new_clinic_path, { :class=>"btn btn-raised btn-success" } do %>  
    <%= I18n.t('.index.nes')%> <div class="ripple-container"></div>
<% end %>
<% end %>
<%= render(
  partial: 'clinics/list',
  locals: { clinics: @clinics }
) %>

<%= javascript_tag do %>
  window.clinics = <%=raw @clinics.to_json %>;
<% end %>

<script type="text/javascript">
  $(function() {
    console.log(window.clinics);

    for (i = 0; i < window.clinics.length; i += 1) {
      clinic = window.clinics[i];
      console.log(clinic)
      divId = "radial" + clinic.id;
      // console.log("Constructing Radial for " + divId);

      percentage = 0
      if (clinic.average_review != -1) {
        percentage = (clinic.average_review / 5) * 100
      }
      
      radialProgress(document.getElementById(divId))
                .label(I18n.t('.index.avg'))
                .diameter(150)
                .value(percentage)
                .render();
    }
  })
</script>
