<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @clinic.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinic.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @clinic.website %>
</p>
<p>
  <strong>State:</strong>
  <%= @clinic.state %>
</p>
<p>
  <strong>Municipality:</strong>
  <%= @clinic.municipality %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>

<%= link_to "Add Scheduling Block", "/schedule/new/#{@clinic.id}" %>
