<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @clinic.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinic.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @clinic.website %>
</p>
<p>
  <strong>State:</strong>
  <%= @clinic.state %>
</p>
<p>
  <strong>Municipality:</strong>
  <%= @clinic.municipality %>
</p>
<br>
<div id="map" style="height:300px;"></div>
<script>
 $("#map").geolocateMap({
      markers: 
        [ 
          {"lat":"<%= @clinic.latitude  %> ", "lng":"<%= @clinic.longitude  %>" }
      ],
      google_maps: {
        zoom: 20
      },
      markers_settings: {
        draggable: false,
        animation: google.maps.Animation.DROP
      }
    })

</script>
<div class="jumbotron row">
    <div class="text-center">
        <h3>Reviews for this clinic</h3>
        <% @clinic.reviews.order("helpfulness DESC").each do | review | %>
        <p><%= review.title %> </p><br>
        <p><%= review.body %> </p>
        <p>Helpfulness: <%= review.helpfulness %> </p>
 <% end %>
    </div>
</div>
<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
<%= link_to "Add Review", "/review/new/#{@clinic.id}" %>
<%= link_to "Add Scheduling Block", "/schedule/new/#{@clinic.id}" %>
