<p id="notice"><%= notice %></p>

<div class="container-actions">
  <div class="btn-group-sm left-button back-button">
    <%= link_to clinics_path, { :class=>"btn btn-primary btn-fab" } do %>
      <i class="material-icons">arrow_back</i><div class="ripple-container"></div>
    <% end %>
  </div>
</div>

<div class="well clinic-card">
  <div class="panel-body left-info-container card-to-edit">
    <h1 class="title-w-edit"><%= @clinic.name %></h1>
    <ul>
      <li>
        <span class="card-info-description">Phone number</span>
        <span class="card-info-value"><%= @clinic.phone_number %></span>
      </li>
      <li>
        <span class="card-info-description">Email</span>
        <span class="card-info-value"><%= link_to_unless(@clinic.email.nil?, @clinic.email, "http://#{@clinic.email}", target: "_blank") %></span>
      </li>
      <li>
        <span class="card-info-description">Website</span>
        <span class="card-info-value"><%= link_to_unless(@clinic.website.nil?, @clinic.website, "http://#{@clinic.website}", target: "_blank") %></span>
      </li>
      <li>
        <span class="card-info-description">State</span>
        <span class="card-info-value"><%= @clinic.state %></span>
      </li>
      <li>
        <span class="card-info-description">Municipality</span>
        <span class="card-info-value"><%= @clinic.municipality %></span>
      </li>
    </ul>
    <div>
      <%= link_to "/review/new/#{@clinic.id}", { :class=>"btn btn-info " } do %>
        Add Review <div class="ripple-container"></div>
      <% end %>
      <% if current_user.clinics_id == @clinic.id %>
      <%= link_to "/schedule/new/#{@clinic.id}", { :class=>"btn btn-success " } do %>
        Add Scheduling Block <div class="ripple-container"></div>
      <% end %>
      <% end %>
    </div>
    <% if current_user%>
    <% if current_user.admin %>
    <!-- positioned absolute -->
    <div class="btn-group-sm edit-button">
      <%= link_to edit_clinic_path(@clinic), { :class=>"btn btn-info btn-fab" } do %>
        <i class="material-icons">edit</i><div class="ripple-container"></div>
      <% end %>
    </div>
    <% end %>
    <% end %>
  </div>
  <figure id="map" class="right-info-container map-container"></figure>
</div>

<script>
 $("#map").geolocateMap({
      markers: 
        [ 
          {"lat":"<%= @clinic.latitude  %> ", "lng":"<%= @clinic.longitude  %>" }
      ],
      google_maps: {
        zoom: 20
      },
      markers_settings: {
        draggable: false,
        animation: google.maps.Animation.DROP
      }
    })

</script>

<h1>Reviews for this clinic</h1>
<div class="row">
<% count = 1 %>
<% @clinic.reviews.order("helpfulness DESC").each do | review | %>
  <div class="col-sm-6 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-body card-to-edit">
        <h2><%= review.title %></h2>
        <ul>
          <li>
            <span class="card-info-description">Rating</span>
            <span class="card-info-value"><%= review.rating %></span>
          </li>
          <li>
            <span class="card-info-description">Comments</span>
            <span class="card-info-value"><%= review.body %></span>
          </li>
          <li>
            <span class="card-info-description">Helpfulness</span>
            <span class="card-info-value">
              <% if review.helpfulness %>
                <%= review.helpfulness %>
              <% else %>
                0
              <% end -%>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <% if count % 2 == 0 %>
    <div class="clearfix hidden-xs"></div>
  <% end %>
  <% count = count + 1 %>
<% end -%>
</div>