<h1> Login to Espolea Here! </h1>

<%= flash[:warning] %>

<%= form_tag signin_path do %>
    <%= label_tag(:email, "Email") %>
    <%= email_field(:user, :email, id: "Email") %>

    <%= label_tag(:password, "Password") %>
    <%= password_field(:user, :password, id: "Password") %>

    <%= submit_tag "Submit" %>

<% end %>

<h4>Not a member? <%= link_to "Register here!", register_path %></h4>
