<h1> Register to become a member of Espolea today! </h4>

<%= flash[:warning] %>

<%= render 'form' %>
<!-- <%= form_tag '/users' do %>
    <%= label_tag(:first_name, 'First Name') %>
    <%= text_field_tag(:first_name, :class => "form-control") %>

    <%= label_tag(:last_name, 'Last Name') %>
    <%= text_field_tag(:last_name, :class => "form-control") %>

    <%= label_tag(:email, 'Email') %>
    <%= text_field_tag(:email, :class => "form-control") %>

    <%= label_tag(:password, 'Password') %>
    <%= text_field_tag(:password, :class => "form-control") %>

    <%= label_tag(:confirm_password, 'Confirm Password') %>
    <%= text_field_tag(:confirm_password, :class => "form-control") %>

    <%= submit_tag("Register", :class => "btn btn-default") %>
<% end %> -->
