<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t('.user.signin.first')%></strong>
  <%= @user.first_name %>
</p>

<p>
  <strong><%= I18n.t('.user.signin.last')%></strong>
  <%= @user.last_name %>
</p>

<p>
  <strong><%= I18n.t('.user.signin.email')%></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= I18n.t('.user.signin.admin')%></strong>
  <%= @user.admin %>
</p>

<%= link_to I18n.t('.user.signin.edit'), edit_user_path(@user) %> |
<%= link_to I18n.t('.user.signin.back'), users_path %>
