<div class="jumbotron row">
    <div class="text-center form-group">
        <h1><%=I18n.t '.home.search' %></h1>
        <input type="location" class="form-control" id="location" placeholder= "Enter zip code or city"}>
    </div>
</div>
<div class="jumbotron row">
    <div class="text-center">
       <h1><%=I18n.t '.home.question' %></h1>
        <%= link_to I18n.t('.home.write'), clinics_path, :class => 'btn btn-raised btn-success' %>
    </div>
</div>

<h1><%=I18n.t '.home.recent' %></h1>
<div class="text-center">
  <%  Review.recent().each do | review | %>
   <div class="col-sm-6 col-md-6">
    <div class="panel panel-primary">
      <%= link_to clinic_path(review.clinic_id), :class => 'btn btn-raised btn-success' do%>
      <div class="panel-body card-to-edit">
        <h3><%= Clinic.find(review.clinic_id).name %></h3>
        <% end %>
        <ul>
          <li>
            <span class="card-info-description">Rating</span>
            <span class="card-info-value"><%= review.rating %></span>
          </li>
          <li>
            <span class="card-info-description">Comments</span>
            <span class="card-info-value"><%= review.body %></span>
          </li>
          <li>
            <span class="card-info-description">By:</span>
            <span class="card-info-value"><%= User.find(review.user_id).first_name%></span>
          </li>
        </ul>
      </div>
        
    </div>
  </div>
  <% end %>
</div>