<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group label-floating">
    <%= f.label :title, class: "control-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group label-floating">
    <%= f.label :rating, class: "control-label" %>
    <%= f.number_field :rating, class: "form-control", in: 1...6 %>
  </div>

  <div class="form-group label-floating">
    <%= f.label :body, class: "control-label" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group label-floating">
    <%= f.label :clinic, class: "control-label" %>
    <% if @selected_clinic %>
        <%= f.select :clinic_id, options_from_collection_for_select(Clinic.all, :id, :name, @selected_clinic.id), {}, {:class => 'fomr-control'} %>
    <% else %>
        <%= f.select :clinic_id, options_from_collection_for_select(Clinic.all, :id, :name), {}, { :class => 'form-control' } %>
    <% end %>
  </div>

  <% if @is_edit %>
      <div class="actions">
        <%= f.submit "Update Review", :class => "btn btn-primary" %>
      </div>
  <% else %>
      <div class="actions">
        <%= f.submit "Create Review", :class => "btn btn-success" %>
      </div>
  <% end %>

<% end %>
