<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<%= link_to new_review_path, class: "btn btn-raised btn-lg btn-success" do %>
  <i class="material-icons">insert_comment</i>
  Write Review
<% end -%>

<div class="row">
<% count = 1 %>
  <% @reviews.each do |review|%>
    <div class="col-sm-6 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-body">
          <h2><%= review.title %></h2>
          <ul>
            <li>
              <span class="card-info-description">Rating</span>
              <span class="card-info-value"><%= review.rating %></span>
            </li>
            <li>
              <span class="card-info-description">Comments</span>
              <span class="card-info-value"><%= review.body %></span>
            </li>
            <li>
              <span class="card-info-description">Helpfulness</span>
              <span class="card-info-value">
                <% if review.helpfulness %>
                  <%= review.helpfulness %>
                <% else %>
                  0
                <% end -%>
              </span>
            </li>
          </ul>
          <% if current_user.id == review.user_id %>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <%= link_to edit_review_path(review), { :class=>"btn btn-raised btn-info" } do %>
                  Edit <div class="ripple-container"></div>
                <% end %>
              </div>
              <div class="col-sm-6 col-md-4">
                <%= link_to review, class: "btn btn-raised btn-danger", method: :delete, data: { confirm: 'Are you sure?' }  do %>
                  Delete <div class="ripple-container"></div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end -%>
</div>

